@model TaskA.Models.TWallet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TWallet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tasker.Tasker_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasker.Tasker_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TWallet_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
